# epicnode.service
# To install:
# sudo cp epicnode.service /etc/systemd/system/epicnode.service
# sudo systemctl daemon-reload
# sudo systemctl start epicnode.service
# sudo systemctl enable epicnode.service
#
[Unit]
Description=Epic Node Server service 
After=network.target

[Service]
ExecStart=/home/epic/runenode.sh
WorkingDirectory=/home/epic
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=epicnode
User=epic
Group=epic
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target

